environ
gunicorn
django
djangorestframework
psycopg2-binary
django-environ
drf-yasg
django-filter
djangorestframework-simplejwt
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-exporter-otlp
python-json-logger
Deprecated