environ
gunicorn
django
djangorestframework
psycopg2-binary
django-environ
drf-yasg
django-filter
PyJWT
cryptography
requests
cachetools
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-exporter-otlp
python-json-logger
openpyxl
Deprecated